<li
  class="max-w-[377px] rounded-2xl bg-background-lighter px-6 xl:px-8 py-10 sm:my-10 mx-3 text-white hover:scale-105 cursor-pointer transition-transform duration-300 ease-in-out"
>
  <img
    class="mx-auto size-48 rounded-full md:size-42 lg:size-42 xl:size-56 object-cover border-2 border-white"
    [src]="user()?.imageUrl"
    alt=""
  />

  <h3 class="mt-6 text-base/7 tracking-tight font-thin">
    {{ position() }} CLASSIFICATO
  </h3>
  <h3 class="text-2xl/7 font-semibold tracking-tight">
    {{ user()?.name }} {{ user()?.surname }}
  </h3>
  <p class="text-sm/6">{{ user()?.age }} y.o.</p>
  <div class="flex items-center gap-2 text-sm/6">
    <p>Squadra:</p>
    <span
      class="inline-flex items-center rounded-md px-2 py-1 font-medium text-white ring-1 ring-inset"
      [ngStyle]="{
        'background-color': ( teamColor() || '#ccc') + '',
        'ring-color': teamColor() || '#ccc'
      }"
    >
      {{ teamAbbreviation() }}
    </span>
  </div>
</li>
