<div class="relative isolate overflow-hidden mb-10 mt-40 text-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h1
        class="mt-2 text-pretty font-bold text-4xl tracking-tight sm:text-5xl"
      >
        REGOLAMENTO
      </h1>
    </div>
    <div
      class="mx-auto grid max-w-2xl mt-8 grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:mt-10 lg:max-w-none"
    >
      <div class="text-base/7 lg:col-span-7">
        <h2 class="text-pretty font-bold text-3xl tracking-tight uppercase">
          Cos’è MONK?
        </h2>
        <p class="mt-3 text-xl/8">
          Monk è la versione 2025 della gara di arrampicata conosciuta con il
          nome di
          <span class="text-background-lightest font-semibold"
            >Giacomini Cup</span
          >.
        </p>

        <p class="mt-6 text-xl/8">
          Ma in realtà MONK è molto di più! È una competizione individuale ma è
          anche una gara a squadre. È una sfida ma è anche un gioco. È un modo
          di fare della balotta provando ad arrampicare.
        </p>

        <h2
          class="mt-18 text-pretty font-bold text-3xl tracking-tight uppercase"
        >
          Forma la tua squadra
        </h2>
        <p class="mt-3 text-xl/8">
          Ogni squadra è formata da 4 atleti pronti a scalare (letteralmente!)
          la classifica: il
          <span class="text-text font-semibold">Capitano</span>,
          <span class="text-text font-semibold">l’Alfiere</span> e altri due
          climber.
        </p>
        <p class="mt-6 text-xl/8">Clicca qui per registrare la tua squadra:</p>
        <p class="mt-6 text-xl/8">
          <a
            class="font-bold bg-background-lightest p-3 rounded text-white uppercase"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdd4DD6p7cmJlIzv2GtfB37nbKp6rGMbs_AwoXVIXLrIFZQrA/viewform"
            >Iscrizione</a
          >
        </p>
        <h2
          class="mt-18 font-bold text-pretty text-3xl tracking-tight uppercase"
        >
          Costo
        </h2>
        <div class="">
          <div class="mt-3 text-xl/8">
            Per l'iscrizione alla competizione è richiesto un contributo di
            <span class="text-background-lightest  font-semibold"
              >30€ a squadra</span
            >.
            <span class="mt-6"
              >Si può pagare in <span class="text-background-lightest font-bold">contanti</span> o tramite uno dei seguenti link:</span
            >
            <div class="flex flex-col gap-4 mt-6">
              <div
                class="group relative cursor-pointer font-bold w-40 text-xl/8"
              >
                <div
                  class="relative flex items-center justify-center gap-2 text-center p-2 rounded-md overflow-hidden"
                >
                  <a target="_blank" href="https://www.paypal.com/pool/9dMQc0q5BL?sr=ancr" class="relative z-10 text-white flex gap-2 items-center uppercase"
                    ><span>
                      <img
                        class="w-4"
                        src="assets/images/paypal_icon.png"
                        alt="" /></span
                    ><span>Paypal</span></a
                  >
                  <div
                    class="absolute inset-0 bg-text-dark transition-all duration-300"
                  ></div>
                  <div
                    class="absolute inset-0 bg-background-light w-0 transition-all duration-300 group-hover:w-full"
                  ></div>
                </div>
              </div>
              <div
                class="group relative cursor-pointer font-bold w-40 text-xl/8 uppercase"
              >
                <div
                  class="relative flex items-center justify-center gap-2 text-center p-2 rounded-md overflow-hidden"
                >
                  <a class="relative z-10 text-white flex gap-2 items-center"
                    ><span>
                      <img
                        class="w-4"
                        src="assets/images/satispay_icon.png"
                        alt="" /></span
                    ><span>Satispay</span></a
                  >
                  <div
                    class="absolute inset-0 bg-text-dark transition-all duration-300"
                  ></div>
                  <div
                    class="absolute inset-0 bg-background-light w-0 transition-all duration-300 group-hover:w-full"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2
          class="mt-18 text-pretty text-3xl font-bold tracking-tight uppercase"
        >
          Svolgimento della gara
        </h2>
        <p class="mt-3 text-xl/8">
          Durante ogni manche, le squadre collezionano punti in base alle
          <span class="text-background-lightest font-semibold"> vie lead </span>
          “chiuse” dai propri atleti. Per “chiudere” una via
          <span class="italic text-text underline font-semibold"
            >è sufficiente</span
          >
          arrivare alla catena,
          <span class="text-background-lightest font-semibold"
            >senza limiti di tentativi</span
          >, se si sale da primo, da secondo o con auto belay, e con quante
          cadute o riposi necessari (l’importante è tenere
          <span class="text-background-lightest font-semibold">DUROH!</span>).
        </p>
        <p class="mt-6 text-xl/8">
          Una volta completata la via, l’atleta piazza il
          <span class="text-background-lightest font-semibold">segnaposto</span>
          del colore della propria squadra sull’etichetta corrispondente. Se un
          avversario riesce nella stessa impresa, può rimuovere il segnaposto
          precedente e metterci il proprio (un po’ come ruba bandiera, ma con i
          muscoli!). Non si ottengono punti extra ripetendo una via già chiusa
          da un compagno della stessa squadra.
        </p>
        <h2
          class="mt-18 text-pretty font-bold text-3xl tracking-tight uppercase"
        >
          Calendario di gara
        </h2>
        <p class="mt-3 text-xl/8">
          La competizione si svolge
          <span class="text-background-lightest font-semibold"
            >dal 06 maggio al 29 maggio 2025</span
          >, per un totale di 8 giornate di sfide e 4 manche. I giorni di gara
          sono sempre e soltanto
          <span class="text-background-lightest font-semibold"
            >il martedì e il giovedì, dalle 18:00 alle 21:45</span
          >. Ogni settimana (martedì + giovedì) corrisponde a una manche. Alla
          fine di ogni manche, si contano i punti e tutti i contrassegni vengono
          rimossi, pronti a sgradare nuovamente nella manche successiva.
        </p>
        <h2
          class="mt-18 font-bold text-pretty text-3xl tracking-tight uppercase"
        >
          Punteggio di squadra e punteggio individuale
        </h2>
        <p class="mt-3 text-xl/8">
          All’inizio di ogni giornata di gara, il Caposquadra sceglie chi sarà
          l’Alfiere (può anche scegliere se stesso, perché un vero leader non ha
          paura di mettersi in gioco!).
          <span class="text-background-lightest font-semibold">
            A fine giornata, l’Alfiere prende per sé il punteggio totalizzato
            dalla squadra </span
          >, ma può farlo al massimo per due giornate totali, anche non
          consecutive
        </p>
        <p class="mt-6 text-xl/8">
          Il punteggio di squadra è la somma dei risultati ottenuti in tutte le
          manche.
          <span class="text-text font-semibold"
            >Se una squadra rimane senza Alfieri disponibili</span
          >, continuerà comunque a salire in classifica come squadra, senza più
          assegnare punti individuali.
        </p>
        <p class="mt-6 text-xl/8">
          Un’ultima cosa: il giorno prima di ogni giornata di gara,
          <span class="text-background-lightest font-semibold"
            >il Capitano comunica al comitato il nome dell’Alfiere </span
          >. Così tutti sanno chi puntare… e marcare stretto!
        </p>

        <h2
          class="mt-18 font-bold text-pretty text-3xl tracking-tight uppercase"
        >
          Schema punteggi per le vie chiuse
        </h2>
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
          >
            <table class="min-w-full divide-y divide-text-dark">
              <thead>
                <tr>
                  @for (route of routesPoints; track $index) {
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-0"
                  >
                    {{ route.grade }}
                  </th>
                  }
                </tr>
              </thead>
              <tbody class="divide-y divide-text-dark bg-background-lighter">
                <tr>
                  @for (route of routesPoints; track $index) {
                  <td class="whitespace-nowrap px-3 py-5 text-sm">
                    <div class="">{{ route.points }}</div>
                  </td>
                  }
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h2
          class="mt-18 text-pretty font-bold text-3xl tracking-tight uppercase"
        >
          Regole aggiuntive
        </h2>
        <ul class="mt-3 space-y-4 text-xl/8">
          <li class="flex items-start gap-3">
            <img
              src="assets/images/arrow.svg"
              alt="Icona"
              class="w-8 h-8 mt-1"
            />
            <span>
              Una volta che la squadra è stata creata non è possibile acquisire
              nuovi membri o scambiarli con quelli di altre squadre
            </span>
          </li>
          <li class="flex items-start gap-3">
            <img
              src="assets/images/arrow.svg"
              alt="Icona"
              class="w-8 h-8 mt-1"
            />
            <span>
              Se due o più Alfieri finiscono a pari merito, la vittoria va
              all’Alfiere appartenente alla squadra con il punteggio più alto.
            </span>
          </li>
          <li class="flex items-start gap-3">
            <img
              src="assets/images/arrow.svg"
              alt="Icona"
              class="w-8 h-8 mt-1"
            />
            <span>
              Se invece a pareggiare sono le squadre, vince quella che ha
              l’Alfiere con il punteggio individuale più alto.
            </span>
          </li>
          <li class="flex items-start gap-3">
            <img
              src="assets/images/arrow.svg"
              alt="Icona"
              class="w-8 h-8 mt-1"
            />
            <span>
              Se la situazione è ancora in stallo… ci sarà uno spareggio su una
              via decisa dal Comitato organizzatore. E lì non si scherza più:
              chi arriva in catena per primo, porta la gloria alla propria
              squadra!
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
