<div class="px-4 sm:px-10 lg:px-18 text-white relative">
  @if (showAlert) {
  <div
    class="absolute inset-0 z-40 px-3 flex items-center justify-center bg-black/50 backdrop-blur-md text-white text-center rounded-lg"
  >
    <p class="text-lg font-semibold">
      La classifica sarà disponibile dopo l'inizio delle iscrizioni
    </p>
  </div>
  }
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-text-dark">
          <thead>
            <tr>
              <th
                scope="col"
                class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold sm:pl-0"
              >
                POS
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-center md:text-left text-sm font-semibold"
              >
                ATLETA
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-center md:text-left text-sm font-semibold"
              >
                SQUADRA
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-center md:text-left text-sm font-semibold"
              >
                PTS
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-text-dark bg-background-lighter">
            @for (user of users(); track $index) {
            <tr>
              <td class="whitespace-nowrap text-center px-3 py-5 text-sm">
                <div class="text-2xl font-bold">{{ $index + 1 }}</div>
              </td>
              <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                <div class="flex items-center">
                  <div class="size-11 shrink-0">
                    <img
                      class="size-11 rounded-full object-cover"
                      [src]="user.imageUrl"
                      alt=""
                    />
                  </div>
                  <div class="ml-4">
                    <div class="font-medium flex flex-col">
                      <span>{{ user.name }}</span>
                      <span>{{ user.surname }}</span>
                      <span class="font-thin text-xs">{{ user.age }} yo</span>
                    </div>
                  </div>
                </div>
              </td>
              <td class="whitespace-nowrap px-3 py-5 text-sm">
                <span
                  class="inline-flex items-center rounded-md px-2 py-1 font-medium text-white ring-1 ring-inset"
                  [ngStyle]="{
                    'background-color':
                      (getTeam(user.teamId)?.color || '#ccc') + '80',
                    'ring-color': getTeam(user.teamId)?.color || '#ccc'
                  }"
                >
                  {{ getTeamName(user.teamId) }}
                </span>
              </td>
              <td class="whitespace-nowrap px-3 py-5 text-sm">
                {{ user.points }}
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
