<!-- <div
  class="flex flex-col justify-between md:px-32 md:py-24 px-10 py-14 gap-10 mb-10 opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out"
  [ngClass]="{ 'opacity-100 translate-y-0': isVisible }"
  #whoWeAre
>
  <div class="flex flex-col gap-2 items-center justify-center">
    <div class="text-4xl sm:text-5xl md:text-6xl uppercase text-center">
      La competizione
    </div>
    <div
      class="text-2xl md:text-3xl 2xl:text-4xl max-w-3xl my-4 flex justify-center items-center text-center"
    >
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
      repudiandae et veniam eius quae consequuntur corporis tempora quisquam
      molestiae, ut quibusdam quaerat voluptates. Autem optio necessitatibus
      quia! Dicta, dolore sequi!
    </div>
    <div class="group relative cursor-pointer text-lg font-medium">
      <div class="flex items-center justify-center gap-2 text-center">
        <a [routerLink]="'rules'">Leggi tutto il regolamento</a>
      </div>
      <div
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-text-dark transition-all duration-300 group-hover:w-full"
      ></div>
    </div>
  </div>

</div> -->
<div
  class="opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out"
  [ngClass]="{ 'opacity-100 translate-y-0': isVisible }"
  #whoWeAre
>
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-balance text-4xl font-semibold tracking-tight sm:text-5xl"
      >
        Che cos'è MONK?
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8">
        Incididunt sint fugiat pariatur cupidatat consectetur sit cillum anim id
        veniam aliqua proident excepteur commodo do ea.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <!-- <div
          class="group relative cursor-pointer text-lg font-medium overflow-hidden"
        >
          <div
            class="flex items-center justify-center gap-2 text-center relative z-10 p-2 rounded-md bg-text"
          >
            <a [routerLink]="'rules'" class="relative z-10"
              >Leggi tutto il regolamento</a
            >
          </div>
          <div
            class="absolute inset-0 bg-background-light w-0 transition-all duration-300 group-hover:w-full rounded-md"
          ></div>
        </div> -->
        <div class="group relative cursor-pointer text-lg font-medium">
          <div
            class="relative flex items-center justify-center gap-2 text-center p-2 rounded-md overflow-hidden"
          >
            <a href="https://docs.google.com/document/d/1SGLWomNrs3Vi_lXxW4S11BLi8lsAMKeRRdTWn_NawF0/edit?tab=t.0" [routerLink]="'rules'" class="relative z-10 text-white"
              >Iscrivi la tua squadra</a
            >
            <div
              class="absolute inset-0 bg-text-dark transition-all duration-300"
            ></div>

            <div
              class="absolute inset-0 bg-background-light w-0 transition-all duration-300 group-hover:w-full"
            ></div>
          </div>
        </div>
        <div class="group relative cursor-pointer text-lg font-medium">
          <div
            class="relative flex items-center justify-center gap-2 text-center p-2 rounded-md overflow-hidden"
          >
            <a [routerLink]="'rules'" class="relative z-10 text-white"
              >Leggi tutto il regolamento</a
            >
            <div
              class="absolute inset-0 bg-text-dark transition-all duration-300"
            ></div>

            <div
              class="absolute inset-0 bg-background-light w-0 transition-all duration-300 group-hover:w-full"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
