<div
  class="mt-24 absolute mobile-landscape-hidden px-2 flex items-center justify-center w-full"
>
  @if (remainingTime) {
  <div class="w-full flex gap-4 items-center justify-center">
    <div class="text-white flex flex-col items-center w-20">
      <span class="text-xl md:text-4xl text-white font-bold tabular-nums">
        {{ remainingTime.months }}
      </span>
      <span class="text-lg">mese</span>
    </div>
    <div class="text-white flex flex-col items-center w-20">
      <span class="text-xl md:text-4xl text-white font-bold tabular-nums">
        {{ remainingTime.days }}
      </span>
      <span class="text-lg">giorni</span>
    </div>
    <div class="text-white flex flex-col items-center w-20">
      <span class="text-xl md:text-4xl text-white font-bold tabular-nums">
        {{ remainingTime.hours }}
      </span>
      <span class="text-lg">ore</span>
    </div>
    <div class="text-white flex flex-col items-center w-20">
      <span class="text-xl md:text-4xl text-white font-bold tabular-nums">
        {{ remainingTime.minutes }}
      </span>
      <span class="text-lg">minuti</span>
    </div>
    <div class="text-white flex flex-col items-center w-28">
      <div class="text-white font-bold tabular-nums flex gap-1 items-end">
        <span class="text-xl md:text-4xl">{{ remainingTime.seconds }}</span>,<span class="text-lg md:text-2xl">
          {{ remainingTime.milliseconds | number : "3.0-0" }}
        </span>
      </div>
      <span class="text-lg">secondi</span>
    </div>
  </div>
  }
</div>
