<div
  class="fixed top-0 inset-0 bg-background-lighter font-semibold p-3 flex flex-col items-start md:items-start justify-center transition-all duration-500 ease-in-out overflow-hidden"
  [ngClass]="{
    'opacity-100 pointer-events-auto visible': isMenuActive(),
    'opacity-0 pointer-events-none invisible': !isMenuActive()
  }"
>
  <ul class="text-4xl md:text-5xl space-y-6">
    <li>
      <a
        (click)="toggleMenu()"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLink]="''"
        [routerLinkActiveOptions]="{ exact: true }"
        [ngClass]="{
          'text-text': rla.isActive,
          'text-text-light': !rla.isActive
        }"
        class="transition"
        >Home</a
      >
    </li>
    <li>
      <a
        href="#"
        class="transition"
        routerLinkActive
        #rlaStandings="routerLinkActive"
        [routerLink]="'standings'"
        [ngClass]="{
          'text-text': rlaStandings.isActive,
          'text-text-light': !rlaStandings.isActive
        }"
        (click)="toggleMenu()"
        >Classifica</a
      >
    </li>
    <li>
      <a
        routerLinkActive
        #rlaRules="routerLinkActive"
        [routerLink]="'rules'"
        [ngClass]="{
          'text-text': rlaRules.isActive,
          'text-text-light': !rlaRules.isActive
        }"
        (click)="toggleMenu()"
        class="transition"
        >Regolamento</a
      >
    </li>
    <li>
      <a
        routerLinkActive
        #rlaTeams="routerLinkActive"
        [routerLink]="'teams'"
        (click)="toggleMenu()"
        [ngClass]="{
          'text-text': rlaTeams.isActive,
          'text-text-light': !rlaTeams.isActive
        }"
        class="transition"
        >Squadre</a
      >
    </li>
  </ul>
</div>
