<img
  class="max-h-screen w-screen h-screen object-cover"
  src="assets/images/Asset 1.svg"
  alt=""
/>
<div class="absolute bottom-12 md:bottom-16 xl:bottom-20 left-10 w-80">
  <div class="lg:text-5xl text-4xl font-semibold text-white text-left lg:max-w-[80rem] lg:w-[35rem]">
    Il 2025 è l'anno di
    <img class="w-76" src="assets/images/logoColoriWhite.png" alt="" />
     l'unica competizione per <span class="text-text font-bold">climber</span> fatta da <span class="text-background-lightest font-bold">climber</span>
  </div>
</div>
